body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  background-color: #eaf6f6;
}

h1,
h2 {
  color: #66bfbf;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
}

h3,
a {
  color: #11999e;
}

a {
  text-decoration: none;
}

hr {
  border: dotted #66bfbf 10px;
  border-bottom: none;
  width: 5%;
  margin: 40px auto;
}

.top-container {
  position: relative;
  padding: 100px 0;
}

.middle-container,
.bottom-container {
  padding: 20px 0;
}

.middle-container {
  background-color: white;
  padding: 40px 0;
}

.bottom-container {
  background-color: #66bfbf;
}

.text-underline {
  text-decoration: underline;
}

.top-cloud,
.bottom-cloud {
  position: absolute;
}

.top-cloud {
  top: 50px;
  right: 650px;
}

.bottom-cloud {
  left: 650px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 15%;
}

.skill-img-dev {
  float: left;
  margin-right: 30px;
}

.skill-img-cook {
  float: right;
  margin-left: 30px;
}

.skill-others {
  color: #11999e;
}

.profile-paragraph {
  color: #40514e;
}

.btn {
  background-color: #66bfbf;
  color: white;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
}

.footer-link {
  margin-right: 20px;
  color: #11999e;
  font-weight: bold;
}
